body {font-family: sans-serif; background-color: #ffffff; margin: 0; padding: 0; overflow: hidden; line-height: 1.3em; font-size: 0.9rem;}
#header { position: absolute; top: 0px; left: 0px; right: 0px; }
#envelope { position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; }
#statusbar { position: absolute; bottom: 0px; left: 0px; right: 0px; padding: 5px 15px; color: #666666; font-size: 0.9em; height: 1.3em; overflow: hidden; box-shadow: 0px -2px 2px #999999; }
#footer { position: absolute; bottom: 0px; left: 0px; right: 0px; }
#curtain { position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background-color: #333333; opacity: 0.5; z-index: 5;}

.xonomy {background-color: transparent !important;}

#envelope button {font: inherit; border-width: 0px; cursor: pointer; border-radius: 4px; background-color: #ffffff; box-shadow: 0px 0px 2px #666666; color: #004f9b; padding: 5px 10px; margin: 12px 5px; min-height: 1.3em; display: inline-block; vertical-align: middle;}
#envelope button.iconYes {padding-left: 30px; background-position: left+10px center; background-repeat: no-repeat;}
#envelope button.iconOnly {background-position: left+10px center; background-repeat: no-repeat; width: 35px;}
#envelope button.noborder { box-shadow: 0px 0px 0px transparent; }
#envelope button.mergeLeft { margin-left: -42px; }

.wyc { display: inline-block; background-image: url(loader.gif); background-position: center center; background-repeat: no-repeat; width: 30px; height: 10px; }