#toolbar { position: absolute; top: 0px; left: 0px; right: 0px; height: 52px; box-shadow: -2px 2px 2px #999999; overflow-x: hidden; white-space: nowrap; }
#container { position: absolute; top: 54px; bottom: 0px; left: 15px; right: 0px; overflow-x: hidden; overflow-y: scroll; padding: 5px 20px 5px 0px; xbox-shadow: inset 2px 2px 2px #999999; }
#container #editor { margin-bottom: 20px; padding-bottom: 300px; }
#container.empty {}

#toolbar *:first-child {margin-left: 15px !important;}
#toolbar span.divider {font: inherit; border-left: 2px dotted #cccccc; padding: 2px 0px; margin: 12px 5px; min-height: 2em; display: inline-block; vertical-align: middle; }
#toolbar input#idbox {font: inherit; border: 1px inset #cccccc; cursor: inline; border-radius: 4px; background-color: #ffffff; color: #333333; padding: 6px 35px 6px 10px; margin: 12px 5px; min-height: 1.3em; display: inline-block; width: 6em; vertical-align: middle;}
#toolbar button.iconYes#butNew {background-image: url(lightning.png);}
#toolbar button.iconOnly#butOpen {background-image: url(resultset_next.png);}
#toolbar button.iconYes#butSave {background-image: url(disk.png);}
#toolbar button.iconYes#butSave span.star {color: #ff0000; position: relative; top: 2px;}
#toolbar button.iconYes#butEdit {background-image: url(cut.png);}
#toolbar button.iconYes#butView {background-image: url(arrow_left.png);}
#toolbar button.iconYes#butNonew {background-image: url(arrow_left.png);}
#toolbar button.iconYes#butDelete {background-image: url(delete.png);}
